:root {
  font: 14px / 1 sans-serif;

  // SDG brand colors
  --asphalt: #2f3737;
  --bright-sky: #80ced2;
  --lime: #b1d133;
  --night-sky: #85577e;
  --sand: #f7f0da;
  --sea: #5a9090;
  --sun: #d5562b;
  --tangerine: #f99d1b;
  color-scheme: light dark;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
  color: light-dark(#000000, #ffffff);
  background-color: light-dark(#ffffff, #2c2c2c);
}

h1 {
  margin: 5rem;
  text-align: center;
}

ul,
li {
  list-style: none;
}

.crypto-container {
  display: grid;
  grid-template-columns: 3fr 4.5fr 2.5fr;
  grid-template-rows: 5rem;
  gap: 1rem;
  border-top: 1px solid #313131;
  &.heading-info {
    grid-template-rows: 3rem;
    .coin-info-heading {
      display: grid;
      grid-template-columns: 1.5fr 2fr 4fr 1fr;
      gap: 0.5rem;
      align-items: center;
      .col-heading {
        &.rank-heading,
        &.name-heading,
        &.symbol-heading {
          justify-self: left;
        }
      }
    }
    .data-info-heading {
      display: grid;
      grid-template-columns: 1.5fr 1fr 2fr 2fr;
      gap: 1rem;
      align-items: center;
      margin-right: 1rem;
      .col-heading {
        &.price-heading {
          align-self: center;
          justify-self: right;
          &.no-change {
            color: light-dark(#000000, #ffffff);
          }
          &.positive {
            color: #47954a;
          }
          &.negative {
            color: #b23b32;
          }
        }
        &.change-24Hr-heading {
          align-items: center;
          justify-self: right;
          .change-direction {
            max-height: 10px;
            align-self: center;
            justify-self: right;
            &.no-change {
              visibility: hidden;
            }
          }
          .change-amount {
            &.no-change {
              color: light-dark(#000000, #ffffff);
            }
            &.positive {
              color: #47954a;
            }
            &.negative {
              color: #b23b32;
            }
          }
        }
        &.volumeUsd24Hr-heading {
          align-self: center;
          justify-self: right;
        }
        &.market-cap-heading {
          align-self: center;
          justify-self: right;
        }
      }
    }
    .graph-info-heading {
      display: grid;
      align-items: center;
      justify-self: center;
      margin: 0;
      .col-heading {
        text-align: center;
        &.graph-heading {
          text-align: right;
        }
      }
    }
  }
  .item-container {
    &.coin-info {
      display: grid;
      grid-template-columns: 1.5fr 2fr 4fr 1fr;
      gap: 0.5rem;
      align-items: center;
      justify-content: left;
      .icon {
        min-height: 40px;
        max-height: 40px;
      }
      .name {
        justify-self: left;
      }
      .ticker-symbol {
        justify-self: left;
        text-align: left;
      }
    }
    &.data-info {
      display: grid;
      grid-template-columns: 1.5fr 1fr 2fr 2fr;
      align-items: center;
      gap: 1rem;
      .price {
        align-self: center;
        justify-self: right;
        &.no-change {
          color: light-dark(#000000, #ffffff);
        }
        &.positive {
          color: #47954a;
        }
        &.negative {
          color: #b23b32;
        }
      }
      .change-24Hr {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        justify-self: right;

        .change-direction {
          max-height: 10px;
          align-self: center;
          justify-self: right;

          &.no-change {
            visibility: hidden;
          }
        }
        .change-amount {
          &.no-change {
            color: light-dark(#000000, #ffffff);
          }
          &.positive {
            color: #47954a;
          }
          &.negative {
            color: #b23b32;
          }
        }
      }
      .volumeUsd24Hr {
        align-self: center;
        justify-self: right;
      }
      .market-cap {
        align-self: center;
        justify-self: right;
      }
    }
    &.graph-info {
      align-self: center;
      margin: 0;
      .graph {
        height: 100%;
        width: 100%;
      }
    }
  }
}
