@font-face {
  font-family: Haarlem Deco;
  src: url('./assets/Haarlem\ Deco\ DEMO.otf');
}

@font-face {
  font-family: Haarlem Serif;
  src: url('./assets/HaarlemSerif.otf');
}

:root {
  font: 14px / 1 sans-serif;
  color-scheme: light dark;
  --background-color-light-mode: #ffffff;
  --background-color-dark-mode: #2c2c2c;
  --foreground-color-light-mode: #000000;
  --foreground-color-dark-mode: #ffffff;
  --green-light-mode: #268750;
  --green-dark-mode: #13aa70;
  --red-light-mode: #d04343;
  --red-dark-mode: #ff5c5e;
}

html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
  color: light-dark(
    var(--foreground-color-light-mode),
    var(--foreground-color-dark-mode)
  );
  background-color: light-dark(
    var(--background-color-light-mode),
    var(--background-color-dark-mode)
  );
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  max-width: 1400px;
  th {
    top: 0;
    padding: 1rem;
    position: sticky;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px black, 0px 0px 0px 0px black;
    background-color: light-dark(
      var(--background-color-light-mode),
      var(--background-color-dark-mode)
    );
  }

  td {
    padding: 0 1rem;
    white-space: nowrap;
  }

  caption {
    padding: 1rem;
    text-align: center;
    border-spacing: 0 15px;
    &.table-heading {
      margin: 3rem;
      text-align: center;
      font-family: 'Haarlem Deco';
      font-size: 2.6rem;
      .sub-heading {
        text-align: center;
        font-weight: 400;
        font-family: 'Haarlem Serif';
        font-size: 1.2rem;
      }
    }
  }
}

.coin-heading {
  .rank-heading,
  .name-heading,
  .ticker-heading {
    text-align: left;
  }
  .icon-heading {
    visibility: hidden;
  }
  .price-heading,
  .change-amount-heading,
  .volume-24-heading,
  .market-cap-heading {
    text-align: right;
  }
  .price-heading {
    padding-right: 1.5rem;
  }
  .change-amount-heading {
    padding-left: 1.5rem;
  }
  .rank-heading {
    max-width: 45px;
    padding-right: 0;
  }
  .graph-heading {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-right: 2;
    flex-wrap: nowrap;
    align-items: center;
    .graph-heading-switch {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .graph-switch {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 16px;
        margin: 0 auto;
        font-size: 14px;
        input {
          opacity: 0;
          width: 0;
          height: 0;
        }
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #6cafce;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
        .slider:before {
          position: absolute;
          content: '';
          height: 14px;
          width: 14px;
          left: 1px;
          bottom: 1px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
        input:checked + .slider {
          background-color: #4378a4;
        }
        input:focus + .slider {
          box-shadow: 0 0 1px #2196f3;
        }
        input:checked + .slider:before {
          -webkit-transform: translateX(14px);
          -ms-transform: translateX(14px);
          transform: translateX(14px);
        }
        .slider.round {
          border-radius: 34px;
        }
        .slider.round:before {
          border-radius: 50%;
        }
      }
      .graph-switch.real-time,
      .graph-switch.seven-day {
        flex: 1;
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}

.coin-container {
  border-top: 1px solid hsl(0, 0%, 25%, 50%);
  border-bottom: 1px solid hsl(0, 0%, 25%, 50%);
  .price,
  .volume-24,
  .market-cap,
  .change-24 > .change-amount {
    text-align: right;
    &.no-change {
      color: (
        var(--foreground-color-light-mode),
        var(--foreground-color-dark-mode)
      );
    }
    &.positive {
      color: light-dark(var(--green-light-mode), var(--green-dark-mode));
    }
    &.negative {
      color: light-dark(var(--red-light-mode), var(--red-dark-mode));
    }
  }
  .rank {
    padding-right: 0;
  }
  .icon-container {
    width: 40px;
  }
  .price {
    padding-right: 1.5rem;
  }
  .change-24 {
    padding-left: 1.5rem;
    min-width: 55px;
    .change-direction {
      padding-right: 0;
      &.no-change {
        visibility: hidden;
      }
    }
    .change-amount {
      min-width: 45px;
      padding: 0;
      align-self: center;
      display: inline-block;
    }
  }
  .graph-info {
    height: 100%;
    width: 200px;
    min-width: 200px;
    color: light-dark(var(--green-light-mode), var(--green-dark-mode));
  }
}

@media (max-width: 600px) {
  body {
    margin: 0 0 3% 0;
  }
  table,
  tbody,
  tr,
  th,
  td {
    // display: block;
    position: relative;
    width: 100vw;
  }
  // tbody {
  //   width: 90%;
  //   margin-left: 3%;
  // }
  tr {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    &.coin-heading {
      min-height: 0px;
      margin-bottom: 20px;
    }
  }
  th {
    // display: none;
    padding-bottom: 1px;
  }
  td {
    width: 100%;
    text-align: left;
    border: none;
    // position: relative;
    padding-left: 50%;
    box-sizing: border-box;
  }
  td::before {
    content: attr(data-label);
    // position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    box-sizing: border-box;
  }
  table {
    caption {
      padding-bottom: 2rem;
      &.table-heading {
        margin: 0 0 3rem 0;
      }
    }
  }
  .coin-heading {
    .rank-heading {
      display: none;
    }
    .name-heading {
      text-align: left;
      margin-left: 5%;
      margin-bottom: -11%;
      // opacity: 50%;
      z-index: 2;
    }
    .price-heading {
      text-align: right;
      margin-right: 3%;
      margin-bottom: -11%;
      z-index: 2;
      // opacity: 100%;
    }
    .change-amount-heading {
      text-align: right;
      margin-right: 30%;
      // opacity: 100%;
      z-index: 2;
    }
    .name-heading,
    .price-heading,
    .change-amount-heading,
    .ticker-heading,
    .icon-heading,
    .volume-24-heading,
    .market-cap-heading {
      display: none;
    }
    .graph-heading {
      position: absolute;
      top: -30px;
      .graph-heading-switch {
        //
        .graph-switch {
          //
        }
      }
      .graph-switch.real-time,
      .graph-switch.seven-day {
        //
      }
    }
  }
  .coin-container {
    .rank {
      // display: none;
      position: absolute;
      margin-left: -12px;
      margin-top: 45px;
    }
    .icon-container {
      margin-left: 15px;
      padding-top: 3px;
      margin-bottom: -3px;
      img {
        width: 30px;
      }
    }
    .name {
      margin-top: -35px;
      margin-left: 55px;
    }
    .ticker {
      margin-top: -15px;
      margin-left: 55px;
    }
    .price {
      text-align: right;
      margin-top: -35px;
    }
    .change-24 {
      width: 0;
      text-align: right;
      margin: -35px 0 0 50%;
      picture {
        ///
      }
    }
    .volume-24 {
      text-align: left;
      margin-top: 2px;
      padding-top: 15px;
      margin-left: 40px;
      color: #808a9d;
      &::before {
        content: 'Volume 24h: ';
        position: absolute;
        top: 0;
        left: -5px;
      }
    }
    .market-cap {
      text-align: left;
      margin-top: 5px;
      margin-left: 40px;
      padding-top: 15px;
      color: #808a9d;
      &::before {
        content: 'Market Cap: ';
        position: absolute;
        top: 0;
        left: -5px;
      }
    }
    .graph-info {
      margin-top: -90px;
      padding-bottom: 10px;
      margin-left: auto;
    }
  }
}
